*.zip
!dracula-theme-for-netbeans-v0.1.1.zip
!netbeansconfig.zip
/makingPurchasesAnwar/makingPurchases/build/
/makingPurchasesAnwar/makingPurchases/nbproject/private/
/makingPurchasesAnwar/makingPurchases/dist/

/assignmentEightAnwar/nbproject/private/
/assignmentEightAnwar/build/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/JavaTest/nbproject/private/
/JavaTest/build/
/JavaTest/dist/
/mo/nbproject/private/
/mo/build/
/mo/dist/
/assignmentEightAnwar/dist/
/ccc-solutions/nbproject/private/
/ccc-solutions/build/
/ccc-solutions/dist/
/assignmentEleven1/nbproject/private/
/assignmentEleven1/build/
/assignmentElevenAnwar1/nbproject/private/
/assignmentElevenAnwar1/build/
/testProject/nbproject/private/
/testProject/build/
/twitterTest/nbproject/private/
/twitterTest/build/
/twitterTest/dist/
/assignmentSixteenAnwar/dist/
/assignmentSeventeenAnwar/nbproject/private/
/assignmentSeventeenAnwar/build/
/assignmentSeventeenAnwar/dist/
/assignmentNineteenAnwar/nbproject/private/
/assignmentNineteenAnwar/build/
/summativePartThreeAnwar/nbproject/private/
/summativePartThreeAnwar/build/
/summativeGUIAnwar/nbproject/private/
/summativeGUIAnwar/build/
/experimentalGUI/nbproject/private/
/experimentalGUI/build/
/summativeGUIAnwar/dist/
/assignment23Anwar/nbproject/private/
/anwarAssignment9/build/
/anwarAssignment5/nbproject/private/
/anwarAssignment6/build/
/anwarAssignment05/nbproject/private/
/anwarAssignment11/nbproject/private/
/anwarAssignment11/build/
/anwarAssignment23/nbproject/private/
/anwarAssignment16/nbproject/private/
/anwarAssignment16/build/
/anwarAssignment23/build/
/anwarAssignment17/nbproject/private/
/fibonacciTest/nbproject/private/
/fibonacciTest/build/
/anwarAssignment24/dist/
/anwarAssignment26/build/
/anwarAssignment27/build/
/anwarSummative/dist/
